<!--TODO delete all of file-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!--<script src="../bower_components/jquery/dist/jquery.js"></script>-->
    <!--<link rel='stylesheet' href='../bower_components/bootstrap/dist/css/bootstrap.min.css' />-->
    <!--<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
    <!--<nav class="navbar navbar-default navbar-fixed-top">-->
        <!--<div class="collapse navbar-collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<span>Welcome back <%= title %></span>-->
                <!--<li class="active"><a href="#">Link</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li><a href="#">Link</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
    <!--<div class="col-lg-2">-->
        <!--<ul class="nav nav-pills">-->
            <!--<% for(var id in instagramsObj) { %>-->
                <!--<li class="active">-->
                    <!--<div>-->
                        <!--<img class="img-circle"-->
                             <!--id="<%= id %>"-->
                             <!--src="<%= instagramsObj[id].images.thumbnail.url %>"-->
                             <!--alt="<%= instagramsObj[id].images.standard_resolution.url %>"/>-->
                    <!--</div>-->
                    <!--<br>-->
                <!--</li>-->
            <!--<% } %>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div id="container" class="col-lg-8">-->
        <!--<img id="added" alt="image added to the dom"/>-->
        <!--<canvas id="canvas"></canvas>-->
    <!--</div>-->
    <!--<script src="../javascripts/HandleClickScript.js"></script>-->

<!--</body>-->
<!--</html>-->


